[Desktop Entry]
Name=Reboot to Windows
Comment=Reboots to Windows using grub-reboot
Exec=$HOME/.local/share/WindowsBoot/./windows_restart.sh
Icon=$HOME/.local/share/WindowsBoot/Windows-Logo.png
Terminal=false
Type=Application
Categories=Restart;Reboot;
